pipeline/pl_cars_sales_increment_load.json
{
	"name": "pl_cars_sales_increment_load",
	"properties": {
		"activities": [
			{
				"name": "copy cars sales incremnet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get-last-date_flag",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get-current_date_flag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM [dbo].[source_cars_data] WHERE date_ID > '@{activity('Get-last-date_flag').output.value[0].last_date_flag}' AND date_ID <= '@{activity('Get-current_date_flag').output.value[0].current_date_flag}';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Branch_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Branch_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Dealer_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dealer_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Model_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Model_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Revenue",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Revenue",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Units_Sold",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Units_Sold",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Date_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Date_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Day",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Day",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Month",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Month",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BranchName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BranchName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DealerName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DealerName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Product_Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product_Name",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_carssales_tgt",
						"type": "DatasetReference",
						"parameters": {
							"pl_table_name": "source_cars_data"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_cars_sales_raw_data_src",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get-last-date_flag",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT last_date_flag FROM water_mark_table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_carssales_tgt",
						"type": "DatasetReference",
						"parameters": {
							"pl_table_name": "water_mark_table"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get-current_date_flag",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(date_ID) AS current_date_flag FROM [dbo].[source_cars_data];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_carssales_tgt",
						"type": "DatasetReference",
						"parameters": {
							"pl_table_name": "source_cars_data"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SP-update-water-mark-table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy cars sales incremnet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateWaterMarkTable]",
					"storedProcedureParameters": {
						"last_date_flag": {
							"value": {
								"value": "@activity('Get-current_date_flag').output.value[0].current_date_flag",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_db",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-12-29T19:34:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}